*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0e9d2;
}

header {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 15px;
}

.logo {
  font-size: 60px;
  margin: 5px 0 15px;
  color: #678983;
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}

.navbar_item {
  margin: 7px;
  transition: 0.3s;
  color: #678983;
}

.navbar_item::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: #678983;
  transition: 300ms;
}

.navbar_item:hover::after {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .logo {
    font-size: 48px;
  }
  .navbar {
    font-size: 17.5px;
  }
}
