@font-face {
  font-family: "Fuzzy";
  src: url("./assets/FuzzyBubbles-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("./assets/Outfit-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0e9d2;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 15px;
  position: sticky;
  z-index: 100;
}

.logo {
  font-size: 60px;
  margin: 5px 0 15px;
  color: #678983;
  font-family: "Fuzzy", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-family: "Outfit";
}

.navbar_item {
  margin: 7px;
  transition: 0.3s;
  color: #678983;
}

.navbar_item::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: #678983;
  transition: 300ms;
}

.navbar_item:hover::after {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .logo {
    font-size: 48px;
  }
  .navbar {
    font-size: 17.5px;
  }
  .menu {
    flex-wrap: wrap;
  }
}

#content {
  /* background-color: #fff; */
  width: 100%;
  margin: 0;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 7rem;
}

select {
  padding: 8px 12px;
  color: #333;
  background-color: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"> <polygon points="0,0 100,0 50, 50" style="fill:%23666"/></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 30px;
  font-family: "Helvetica Neue", "Helvetica";
  font-size: 15px;
  display: none;
}

select:focus,
select:hover {
  outline: none;
  border: 1px solid #bbb;
}

.home {
  /* border: 1px solid black; */
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home_image {
  border-radius: 100%;
  border: 2px solid #fff;
}

.home_description {
  font-size: 25px;
  font-family: "Helvetica Neue", "Helvetica";
}
